<h1>Add Coupon</h1>

<div>
  <form>
    <label for="category">Category</label>
    <select id="category" name="category">
      <!--- Food,Electricity,Restaurant,Vacation,Shoping,House,Garden,Attractions,Spa,Computers,Gadgets,Furniture,Kids --->
      <option value="admin">Food</option>
      <option value="admin">Electricity</option>
      <option value="admin">Restaurant</option>
      <option value="admin">Vacation</option>
      <option value="admin">Shoping</option>
      <option value="admin">House</option>
      <option value="admin">Garden</option>
      <option value="admin">Attractions</option>
      <option value="admin">Spa</option>
      <option value="admin">Computers</option>
      <option value="admin">Gadgets</option>
      <option value="admin">Furniture</option>
      <option value="admin">Kids</option>
    </select>

    <label for="title">Please enter coupon description </label>
    <input type="text" id="title" name="title" placeholder="Coupon description...">

    <label for="startDate">Please enter coupon start date </label>
    <input type="date" id="startDate" name="startDate" placeholder="dd/mm/yyyy">

    <label for="endDate">Please enter coupon end date </label>
    <input type="date" id="endDate" name="endDate" placeholder="dd/mm/yyyy">

    <label for="amount">Please enter number of coupons </label>
    <input type="number" id="amount" name="amount" placeholder="Coupons amount...">

    <label for="price">Please enter coupon price </label>
    <input type="number" id="price" name="price" placeholder="Coupon price...">

    <button class="AddCouponButton">Add Coupon</button>
  </form>
</div>
