<h1>Add Company</h1>

<div>
  <form>
    <label for="companyName">Please enter your company's name </label>
    <input type="text" id="companyName" name="name" placeholder="Your company's name...">

    <label for="email">Please enter your company's E-mail </label>
    <input type="text" id="email" name="email" placeholder="Your company's E-mail...">

    <label for="password">Please enter your company's password </label>
    <input type="password" id="password" name="password" placeholder="Your company's password...">

    <button class="register">Register</button>
  </form>
</div>
